include galagos/build.ninja

build build: phony
build test: phony $
  galagos_compliance
default test
build update: phony $
  galagos_update
build deploy: phony

# Helper Targets

build _addheaders: phony $
                   _addheaders_cc-by-sa_html $
                   _addheaders_cc-by-sa_html_dot $
                   _addheaders_cc-by-sa_python $
                   _addheaders_gpl3_python

build _addheaders_cc-by-sa_html: galagos_addheader $
                                 AUTHORS.md $
                                 CHANGELOG.md $
                                 CONTRIBUTING.md $
                                 README.md
  galagos_license=CC-BY-SA-4.0
  galagos_style=html

build _addheaders_cc-by-sa_html_dot: galagos_addheader $
                                     {{_copier_conf.answers_file}}
  galagos_license=CC-BY-SA-4.0
  galagos_style=html
  galagos_reuse_dot_switch=--force-dot-license

build _addheaders_cc-by-sa_python: galagos_addheader $
                                    .gitignore
  galagos_license=CC-BY-SA-4.0
  galagos_style=python

build _addheaders_gpl3_python: galagos_addheader $
                               build.ninja $
                               galagos/build.ninja
  galagos_license=GPL-3.0-or-later
  galagos_style=python
